h2,
h4, p{
    color: #ffffff;
}

html,
body {
    background: linear-gradient(135deg, #7e0b2b, #dd4a48, #121212);
    background-size: 220% 220%;
    animation: gradient 15s ease infinite;
    /* min-height: 100vh; */
    overflow-x: hidden;
    margin: 0;
    min-width: 100vw;
    min-height: 100vh;
}

.login{
    color: #000000 !important;
    background-color: #ffffff;
    border-radius: 5px;
}

 container-estoque {
     display: flex;
     justify-content: space-between;
     background: white;
     border-radius: 10px;
     padding: 20px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 }

 section-1 {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     grid-gap: 10px;
     align-items: center;
 }

 .card {
     position: relative;
     display: -ms-flexbox;
     display: flex;
     -ms-flex-direction: column;
     flex-direction: column;
     min-width: 0;
     word-wrap: break-word;
     background: linear-gradient(329deg, #ffffffc9, #fafafa9a, #c2c2c283);
     background-clip: border-box;
     border: 1px solid rgba(0, 0, 0, .125);
     border-radius: 1.5rem;
 }

 .card-blood {
     width: 80px;
     display: block;
     margin: 0 auto;
 }

 .card-blood+h4 {
     text-align: center;
     margin-top: 5px;
 }

section-2 {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

 .card-blood-leg {
    width: 50px;
     display: block;
     margin-bottom: 10px;
 }

 section-2 h2 {
    font-size: 25px;
     margin-bottom: 15px;
 }

 section-2 h4 {
    font-size: 15px;
     margin-bottom: 5px;
 }

 container-estoque h4{
    color: #121212;
 }

.col>h4,
.col>h2,
.col>p {
    text-align: center;
}

.agenda{
    width: 300px;
}

/* form agendamento */
.formAgendamento {
    color: #000000 !important;
    background: linear-gradient(329deg, #ffffffc9, #fafafa9a, #c2c2c283);
    border-radius: 15px;
    margin-bottom: 10rem;
    padding: 15px;
}

.formAgendamento>h2,
.formAgendamento span {
    color: #000000 !important;
}

@media screen and (max-width: 390px) {
    .card-blood {
        width: 40px;
    }
}
/* wellington */


.formCadastro {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 10%;
}

.formCadastro h2 {
    text-align: center;
    margin-bottom: 20px;
    margin: 5;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group p {
    font-size: 12px;
    margin-top: 5px;
}

.check {
    margin-top: 15px;
    font-size: 12px;
    color: #000000;
}


.btn {
    width: 100%;
    padding: 10px;
    background-color: #BB343E;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #ffffff;
}

.title {
    color: #000000
}

.limit {
    text-align: -webkit-center
}


/* campanhas */


.filtros {
    margin: 3vh auto;
    padding: 2vh;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5%;
    background: linear-gradient(174deg, #ffffff, rgb(250, 250, 250), #ffffff);
}


.filtro {
    border-bottom: 1px solid #000000;
    margin: 1vh;
    transition: all .4s;
}

.filtro:hover {
    scale: 1.02;
}

select {
    border: none;
    background: none;
    outline: none;
    box-shadow: none;
    border-bottom: 1px solid #dd4a48;
}

.solicitacao {
    background: linear-gradient(174deg, #ffffff, #ffffff, #ffffff);
    border-radius: 20px;
    height: auto;
    padding: 2vh 1vw;
    margin: .5em .5em;
}

.solicitacao:hover {
    scale: 1.02;
    box-shadow: 0px 0px 5px #000000d3;
}

.solicitacao a {
    text-decoration: none;
    color: #dd4a48;
    font-weight: 600;
    transition: all .2;
    display: flex;
    justify-content: center;
    margin-top: .5em;
}

.solicitacao a:hover {
    font-weight: 900;
}

.solicitacoes {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5vh;
}
.solicitante{
    color: #000000;
}

@media screen and (max-width: 1108px) {
    .solicitacao {
        width: 40vw;
    }
}

@media screen and (max-width: 830px) {
    .solicitacao {
        width: 90vw;
        padding: 20px;
    }
}

.col-auto {
    width: 70px;
    height: 40;
    border-radius: 100%;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    max-width: 100%;
}

.btn-niveis {
    width: 100%;
    background-color: #ffffff;
    color: #000;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-weight: 700;
}

.campanhasMenu{
    background-color: #ffffff;
    border-radius: 15px;
    padding: 50px;
}

.btnAcoes{
    width: 45%;
}
.btnAcoes:hover{
    width: 45%;
    background-color: #75242a;
}

.btnADC{
    width: 250px;
    color: #000;
    background-color: #ffffff;
}
